.home-page{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.image{
    width: 100%;
    height: 500px;
    margin-left: 200px;
}
.home-page img{
    position: static;
    width: 80%;
    height: 100%;
    margin: auto;
}
.search form, label, input{
    margin: 10px;
}
.infor{
    width: 80%;
    display: flex;
    margin: auto;
}
.infor div{
    margin:10px
}
.infor img{
    width: 50%;
    height: auto;
}
