body{
	margin: 0;
	padding: 0;
	background: url();
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.background{
	background-image: url('/Image/img.jpg');
}
.loginbox{
	/* background-image: src("/frontend-vianhotel/public/Image/img.jpg"); */
	width: 500px;
	height:auto;
	background: rgb(95 77 45);
	color: #fff;
	box-sizing: border-box;
	padding: 50px 30px;
	margin: auto;
	margin-top:50px;
	margin-bottom:50px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
}

h1{
	margin: 0;
	padding: 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.loginbox p{
	margin: 0;
	padding: 0;
    font-weight: bold;
   
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:rgb(136, 109, 58);
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover{
	color: #ffc107;
}